:root{
  --vermelho: #E50914;
  --preto: #141414;
  --verde: #35e509;
}

@font-face{
  font-family: 'Wade Sans Light';
  src: url('/fonts/Wade\ Sans\ Light\ Plain.ttf');
}
@font-face{
  font-family: 'Ballmer';
  src: url('/fonts/BallmerArchiType.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elementos de Base */
body {
  background: var(--preto);
  font-family: 'Arial','Times New Roman', Times, serif;
  color: white;
}

header .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Arial Black', Times;
  font-size: 40px;
  display: flex;
}

header .logo #life{
  color: var(--verde);
}

header nav{
  margin-right: 15px;
}

header nav a{
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}

header nav a:hover{
  color: #fff;
}

/* Filme Principal */

.filme-principal{
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/filme-principal-capa.jfif');

  height: 500px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao{
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-align: justify;
}

.filme-principal .titulo{
  margin-top: 15%;
  font-family: 'Wade Sans Light';
  font-size: 80px;
}

.botao{
  background-color: rgba(0,0,0,.50);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: .3s ease all;
}

.botao:hover{
  background-color: rgb(240, 229, 229);
  color: black;

}

.botao i{
  margin-right: 8px;
}

.container{
  margin-left: 20px;
}

.filme-principal .container{
  width: 70%;
}

.box-filme{
  height: 100%;
  width: 100%;
  display: block;
}

.carrossel-filmes{
  margin-top: 5px;
}

.filme-carrossel{
  background: url('/img/filme-principal.jpg');
  background-size: 100%;
  width: 100%;
  height: 100%;
  font-size: 40px;
  
}

/*Pop-up*/
.modal{
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.50);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.mostrar{
  display: flex;
}

.popup{
  width: 400px;
  height: 500px;
  border: 3px solid rgba(0,0,0,0.8);
  background: var(--preto);
  /*
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: 0, right -200px top;
  */
  overflow: visible;
  padding: 0;
}

.popup .container{
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.2));
  background-size: cover;
  overflow: visible;
  /*border: 3px solid rgba(207, 3, 3, 0.8);
 */
  position: relative;
}

.popup .container .filme-informacoes{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 30px;

}

.container .capa{
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), url(https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/nvVgLQWbIIFKchsvyQHEFanMTAX.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: 0, right -240px top;
  overflow: hidden;
  height: 300px;
}

.titulo-popup{
  margin-top: 45%;
  font-size: 40px;
  color:rgb(240, 229, 229);
  
}

.sobre{
  margin-top: 0;
  text-align: justify;
  width: 80%;
}

.filme-informacoes .botoes{
  display: flex;
  margin-top: 10%;
}

.filme-informacoes .botoes .botao{
  width: ;
  border: 1px solid rgb(240, 229, 229);
  display: flex;
  width: auto;
  height: auto;
}

.filme-informacoes .botoes .botao i{
  align-items: center;
  margin: 8px 4px;
}

.popup .container .fechar{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #E50914;
  padding: 0px;
  width: 40px;
  height: 40px;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--preto);
  border: 1px solid rgb(240, 229, 229);

  border-radius: 50%;
/*padding: 15px 30px;
  margin-right: 15px;*/

  cursor: pointer;
  transition: .3s ease all;
  outline : ;
}

.popup .container .fechar:hover{
  background: rgb(240, 229, 229);
  border: none;
}